@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');


.mainNav{
  background-color: #013357;
  height: 5rem;
  border-bottom: 1px solid yellow;
  font-family: JetBrains Mono, monospace;
}
.brand{
  color: white;
  font-weight: bold;
  font-size: 40px;
}

  .logo{
    width: 170px;
    margin-top: 10px;
  }

  @media screen and (max-width: 991px){
    .logo{
      display: none;
    }
  }


.font{
  color: #871101;
  font-weight: bold;
}
.font:hover{
  color: #EBCB00;
  transform: scale(1.1);
  transition: 0.1s;
}
.dropDiv{
  background-color: #013357;
  border: 1px solid yellow;
}
.collapse{
  z-index: 1;
}

