<div class="container aboutDiv">
  <p class="about">Benvenuti nel nostro regno virtuale del collezionismo! Siamo un gruppo di nerd incalliti che ha deciso di
    condividere la nostra ossessione per i supereroi, i maghi e gli eroi epici con il mondo intero.
    Il nostro negozio è nato dalla determinazione di sette individui gloriosamente testardi, uniti dalla missione di
    portare il collezionismo a livelli epici. Abbiamo scavalcato montagne di fumetti e attraversato deserti di
    merchandising per portarti i migliori tesori di Marvel, DC, Harry Potter, Il Signore degli Anelli e Star Wars
    direttamente alla tua porta.
    Siamo qui per farti vivere una vera e propria avventura nel mondo dei collezionisti, senza dover affrontare il
    pericolo di uscire di casa. Che tu sia un superfan o un novellino nel mondo del geek, siamo qui per rendere il tuo
    viaggio tanto divertente quanto indimenticabile.
    Grazie per unirti alla nostra squadra di appassionati. Promettiamo di continuare a rendere questo mondo più strano e
    meraviglioso, un cimelio alla volta. Se hai domande, richieste o semplicemente vuoi scambiare battute su Darth
    Vader, siamo qui per te.
    Che la forza sia con te, sempre!</p>
</div>

<div class="container my-5">
  <div class="utenti divLeft my-5">
    <div class="card">
    <div class="bg uwu"></div>
    <div class="bg"></div>
    <div class="content">
      <div class="img">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg>
      </div>
      <div class="h1">
        Mr.<br>President
      </div>
      <div class="p">
        Dittatore
      </div>
    </div>
    </div>
    <div class="description m-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rem id non qui ipsam eos praesentium sapiente ab, placeat voluptas eius distinctio saepe dolores facilis quae error atque fugit dignissimos.
    </div>
  </div>
  <div class="utenti divRight my-5">
    <div class="description m-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rem id non qui ipsam eos praesentium sapiente ab, placeat voluptas eius distinctio saepe dolores facilis quae error atque fugit dignissimos.
    </div>
    <div class="card">
    <div class="bg uwu"></div>
    <div class="bg"></div>
    <div class="content">
      <div class="img">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg>
      </div>
      <div class="h1">
        Emanuel<br>Incarnato
      </div>
      <div class="p">
        Tesoriere
      </div>
    </div>
    </div>
  </div>
  <div class="utenti divLeft my-5">
    <div class="card">
    <div class="bg uwu"></div>
    <div class="bg"></div>
    <div class="content">
      <div class="img">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg>
      </div>
      <div class="h1">
        Vice<br>Presidente
      </div>
      <div class="p">
        Mergiatore
      </div>
    </div>
    </div>
    <div class="description m-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rem id non qui ipsam eos praesentium sapiente ab, placeat voluptas eius distinctio saepe dolores facilis quae error atque fugit dignissimos.
    </div>
  </div>
  <div class="utenti divRight my-5">
    <div class="description m-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rem id non qui ipsam eos praesentium sapiente ab, placeat voluptas eius distinctio saepe dolores facilis quae error atque fugit dignissimos.
    </div>
    <div class="card">
    <div class="bg uwu"></div>
    <div class="bg"></div>
    <div class="content">
      <div class="img">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg>
      </div>
      <div class="h1">
        Fred<br>Pecoraro
      </div>
      <div class="p">
        Rollatore
      </div>
    </div>
    </div>
  </div>
  <div class="utenti divLeft my-5">
    <div class="card">
    <div class="bg uwu"></div>
    <div class="bg"></div>
    <div class="content">
      <div class="img">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg>
      </div>
      <div class="h1">
        Mario<br>Varano
      </div>
      <div class="p">
        TypeScript Master
      </div>
    </div>
    </div>
    <div class="description m-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rem id non qui ipsam eos praesentium sapiente ab, placeat voluptas eius distinctio saepe dolores facilis quae error atque fugit dignissimos.
    </div>
  </div>
  <div class="utenti divRight my-5">
    <div class="description m-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rem id non qui ipsam eos praesentium sapiente ab, placeat voluptas eius distinctio saepe dolores facilis quae error atque fugit dignissimos.
    </div>
    <div class="card">
    <div class="bg uwu"></div>
    <div class="bg"></div>
    <div class="content">
      <div class="img">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg>
      </div>
      <div class="h1">
        Lorenco<br>Pelhuri
      </div>
      <div class="p">
        Sergente
      </div>
    </div>
    </div>
  </div>
  <div class="utenti divLeft my-5">
    <div class="card">
    <div class="bg uwu"></div>
    <div class="bg"></div>
    <div class="content">
      <div class="img">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg>
      </div>
      <div class="h1">
        Simone<br>Acquadro
      </div>
      <div class="p">
        Riparatore
      </div>
    </div>
    </div>
    <div class="description m-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rem id non qui ipsam eos praesentium sapiente ab, placeat voluptas eius distinctio saepe dolores facilis quae error atque fugit dignissimos.
    </div>
  </div>
</div>

