.aboutDiv {
  border-radius: 20px;
  border: 1px solid #FFFF00;
  margin-top: 5rem;
  background-color: #013357;
  background: linear-gradient(0deg, rgba(1,51,87,0.8664114238410596) 42%, rgba(0,70,120,1) 100%);
  box-shadow: 0 0 20px #FFFF00;
}
.about {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 3rem;
  text-align: center;
  text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
