.settCar{
  height: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.margin{
  margin-top: 200px;
}

.divSize{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
  position: sticky;
  .imgSize{
    max-width: 400px;
    max-height: 400px;
    aspect-ratio: auto;
    position: absolute;
  }
}
.btn{
  margin-top: 200px;
  margin-bottom: 200px;
}
.bottone{
  background-color: #013357;
}
