.settCar{
  height: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.margin{
  margin-top: 200px;
}

.divSize{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .imgSize{
    max-width: 400px;
    // position: fixed;
    transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}
