<div class="main-container">
  <div class="container">
    <div class="form_area p-5">
      <p class="title">CONTATTACI</p>
      <form>
        <div class="form_group">
          <label class="sub_title" for="firstName">Nome</label>
          <input name="firstName" placeholder="Inserisci il tuo nome" class="form_style" type="text" />
        </div>
        <div class="form_group">
          <label class="sub_title" for="address">Indirizzo di spedizione</label>
          <input name="address" placeholder="Inserisci il tuo indirizzo" class="form_style" type="text" />
        </div>
        <div class="form_group">
          <label class="sub_title" for="phone">Numero di telefono</label>
          <input name="phone" placeholder="Inserisci il tuo indirizzo" class="form_style" type="number" />
        </div>
        <div class="form_group">
          <label class="sub_title" for="mail">Mail</label>
          <input name="mail" placeholder="Inserisci la tua mail" class="form_style" type="email" />
        </div>
        <div>
          <button class="btn">INVIA</button>
        </div>
      </form>
    </div>
  </div>
</div>
