@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

.footerSett{
  color: #013357;
  width: fit-content;
  cursor: pointer;
  font-family: JetBrains Mono, monospace;
}

.footerSett:hover{
  color: #d9a002;
  transition: 0.2s;
}
