<div class="my-5">
<div class="row">
  <div class="col-4">
    <h2 *ngIf="firstName">Benvenuto {{firstName}}!</h2>
    <form *ngIf="user">
      <div class="form_group">
        <label class="sub_title" for="firstName">Nome</label>
        <input name="firstName" placeholder="Inserisci il tuo nome" class="form_style" type="text"
          [(ngModel)]="user.firstName" />
      </div>
      <div class="form_group">
        <label class="sub_title" for="lastName">Cognome</label>
        <input name="lastName" placeholder="Inserisci la tua password" class="form_style" type="text"
          [(ngModel)]="user.lastName" />
      </div>
      <div class="form_group">
        <label class="sub_title" for="address">Indirizzo di spedizione</label>
        <input name="address" placeholder="Inserisci il tuo indirizzo" class="form_style" type="text"
          [(ngModel)]="user.address" />
      </div>
      <div class="form_group">
        <label class="sub_title" for="phone">Numero di telefono</label>
        <input name="phone" placeholder="Inserisci il tuo indirizzo" class="form_style" type="number"
          [(ngModel)]="user.phone" />
      </div>
      <div class="form_group">
        <label class="sub_title" for="mail">Mail</label>
        <input name="mail" placeholder="Inserisci la tua mail" class="form_style" type="email"
          [(ngModel)]="user.email" />
      </div>
      <button (click)="editUserData(user)" class="btn">Modifica dati</button>
    </form>

  </div>
  <div class="col-8" *ngIf="total > 0">
    <h2>Il tuo carrello:</h2>
    <div class="row g-3" *ngIf="user.cart">
      <div *ngFor="let product of cart" class="col-12">
        <app-cart-element [product]="product"></app-cart-element>
      </div>
      <div class="d-flex justify-content-between align-items-center total">
        <h4>Totale: </h4>
        <div class="d-flex align-items-center">
          <h4>{{total | currency : 'EUR'}}</h4>
          <button class="btn-total">Procedi all'ordine</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
