<div class="container py-4">
  <h1 class="text-center pb-4 pt-2">I nostri prodotti : Harry Potter</h1>
  <div  class="row g-5 px-0 mx-0">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of harryPotterProducts">
      <div class="card">
        <div class="content">
          <div class="back">
            <div class="back-content">
              <img class="imageStyle" src="../../../../assets/{{product.image}}">
              <strong class="textFont text-center">{{product.name}}</strong>
              <strong class="textFont2">{{product.price | currency: "EUR"}}</strong>
            </div>
          </div>
          <div class="front">

            <div class="img">
              <div class="circle">
              </div>
              <div class="circle" id="right">
              </div>
              <div class="circle" id="bottom">
              </div>
            </div>

            <div class="front-content">
              <small class="badge">{{product.category}}</small>
              <div class="description">
                <div class="description-text">
                  <p class="title">
                    <strong>{{product.description}}</strong>
                  </p>
                </div>
                  <a class="buttonStyle" routerLink="">
                  <button class="CartBtn">
                    <span class="IconContainer">
                      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" fill="rgb(17, 17, 17)" class="cart"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path></svg>
                    </span>
                    <p class="text">Add to Cart</p>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
